<div id="admin">

  <h1>Admin Panel</h1>
  <h5>Number of Subscribers: <%= count %> </h5>
 
  <div id="active-users">
    
    <table class="user-table">
      
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% users.forEach(u => { %>
        <tr class="item-row">
          <td><%= u.firstName %></td>
          <td><%= u.email %></td>
        </tr>
        
        <% })%>
        
      </table>
      
    </div>
  </div>