<div id="confirm">
  <a href="/" id="exit-x">X</a>
  <h1>Thanks for signing up, <%= created.firstName %>!</h1>
    <h3 style="padding: 10px 30px;">We are dying to host your 
    next murder mystery party.</h3>
</div>