<div style="margin: 40px 0;">
  <h1>Something went wrong!</h1>
  <h3 style="margin: 25px;">Now THAT'S scary...</h3>
  <img src="https://38.media.tumblr.com/79879b967408af5ee896f61412e8803e/tumblr_njondoX9JL1sttcw0o1_500.gif"
  style="width: 75vw;">
  <br /><br />
  <a href="/" style="color: black; text-decoration: underline;"><h5>Back to home</h5></a>
</div>
