<header>
    <h1>The Castle</h1>
</header>

<section id="about">
    <h5>So you've found The Castle...</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus inventore iste assumenda tenetur pariatur aliquid quam facere, id earum nam sunt laudantium error corporis temporibus et vitae, quibusdam ea beatae.</p>
</section>


<section id="themes">
    <h3>Themes</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>You and a few other medical students have discovered an abandoned laboratory</p>
                </article>
            </div>
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>You and some associates have come to inventory your Uncle's office - what did he discover on his last expedition? Who doesn't want it found?</p>
                </article>
            </div>
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>Your estranged father left a key to you. You've come to see what it unlocks in his office, but is everyone with you a friend...or foe?</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ullam, assumenda enim delectus voluptas aspernatur nihil atque expedita dolore earum quam minus facilis quos ipsa non quisquam optio in nam.</p>
                </article>
            </div>
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus assumenda repudiandae dicta quo, tempore pariatur recusandae, consectetur numquam voluptates quos nam dolorum vitae itaque ipsum quidem aperiam ratione! Eligendi, quos?</p>
                </article>
            </div>
            <div class="col">
                <article> 
                    <img class="theme-img" src="/images/placeholder.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dicta, amet quas eaque, obcaecati natus adipisci alias dolor expedita neque, esse corrupti voluptatibus doloremque impedit assumenda consequuntur excepturi quam voluptas!</p>
                </article>
            </div>
        </div>
    </div>


    <small>Have a theme in mind that you don't see here? <a href="#">Create a custom party plan</a></small>
</section>


<section id="newsletter">
    <h3>Want to learn more?</h3>
    <p>Sign up for our newsletter to get more details - and exclusive deals</p>

<form action="/signup" method="POST">
    <input type="text" name="firstName" required>
    <input type="email" name="email" required>
    <input type="submit" value="Sign Up">
</form>

</section>