:root {
    --off-white: #f1f1f1;
    --gold: #eddeac;
    --off-black: #272727;
}

body {
    background-color: var(--off-white);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h1, h3, h5 {
    font-family: 'Playfair Display', serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 5vw;
}

.meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5vw;
}

#about {
    height: 50vh;
    background-image: url('../images/about.jpg');
    background-size: cover;
    background-position: 0% 30%;
    border-bottom: 1px solid var(--gold);
}

#about-copy {
    position: relative;
    width: 38vw;
    background-color: #27272788;
    color: var(--off-white);
    text-align: left;
    left: 5vw;
    top: 25vh;
    padding: 10px;
}

#about-copy p {
    margin-bottom: 5px;
}

#themes {
    background-color: var(--off-black);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#theme-title{
    padding: 20px 0;
}

article {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.theme-row {
    margin-bottom: 25px;
}

.theme-img {
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    margin-bottom: 20px;
}

#newsletter {
    background-color: var(--gold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 10vh;
}

form {
    display: flex;
    justify-content: center;
    padding: 15px;
}

input[type=text], input[type=email] {
    width: 125% !important;
}

.form-btn {
    margin-left: 50px;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    margin-bottom: 15px;
}

.btn {
    align-self: flex-start;
    background-color: var(--off-white);
}

footer {
    padding: 40px 0;
}

.footer-col {
    display: flex;
    flex-direction: column;
}


#confirm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    background-color: #EDDEAC;
}

#exit-x{
    position: absolute;
    top: 50px;
    right: 50px;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 767px) {
    #about {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about-copy {
        width: 90vw;
        font-size: 80%;
        position: static;
    }

    #themes {
        padding: 0 10px;
    }

    #themes-mobile {
        display: flex;
    }
    .theme-img {
        width: 20vh;
        height: 20vh;
    }
    #themes-desktop {
        display: none;
    }

    .carousel-content {
        margin-bottom: 50px;
    }

    form {
        width: 80vw;
    }

    input[type=text], input[type=email] {
        font-size: 80% !important;
        width: 125% !important;
    }

    .btn {
        font-size: 80%;
    }
}

@media only screen and (min-width: 768px) {
    #themes-mobile {
        display: none;
    }
    #themes-desktop {
        display: block;
    }
}